@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-gray-50 overflow-y-scroll overflow-x-hidden;
  }
}

@layer utilities {
  @keyframes marqueeLeft {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marqueeRight {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .animate-marquee-left {
    animation: marqueeLeft 40s linear infinite;
  }

  .animate-marquee-right {
    animation: marqueeRight 50s linear infinite;
  }
}

@media print {
  @page {
    size: A4;
    margin: 25mm 10mm 15mm 10mm;
  }

  /* Ensure background colors are printed */
  th {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body,
  html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white !important;
  }

  /* Hide everything by default */
  body * {
    visibility: hidden;
  }

  /* Only show the print area */
  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block !important;
  }

  /* Explicitly hide screen area */
  #screen-area {
    display: none !important;
  }
}